@charset "UTF-8";

/* =========================
common
========================= */
:root {
    --black: #333A3A;
    --white: #FDFDFD;
    --green: #3EB0A4;
    --green2: #B3D8A8;
    --pink: #F2808C;
    --white2: #FBFFE4;
    --yellow: #FFFB00;
    --padding: 4.2%;
}

html {
    font-size: 62.5%;
}

body {
    font-family:
        "Noto Serif JP",
        Georgia,
        serif;
    background-color: var(--white, #FDFDFD);
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.section___title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    padding: 0 0 48px;
    letter-spacing: 0.05em;
}

/* btn */
.btn a {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    display: block;
    padding: 32px 25px 32px 0;
    width: 100%;
    max-width: 460px;
    background: linear-gradient(150deg, #FBFFE4 -6.51%, #3EB0A4 52.74%, #0081AA 84.38%);
    border-radius: 40px;
    box-shadow:
        4px 4px 10px rgba(0, 0, 0, 0.25),
        inset -5px -5px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: transform 0.3s ease;
}

.btn a:hover {
    transform: scale(1.05);
}

.btn a::before {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 40px;
    border: 2px solid #FFF;
}

.btn a::after {
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 7px;
    height: 13px;
    top: 50%;
    right: 35px;
    transform: translateY(-40%);
}

.btn__pink a {
    background: linear-gradient(150deg, #FBFFE4 -69.93%, #F6BFB8 23.23%, #F2808C 73.39%);
    width: 280px;
}

/* CTA */
.CTA {
    position: relative;
    display: flex;
    justify-content: center;
    width: 86.1%;
    aspect-ratio: 5 / 4;
}

.CTA img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    width: 100%;
}

.CTA__btn {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 81.6%;
    display: flex;
    justify-content: center;
}

/* br */
.pcBr {
    display: none;
}

/* common pc */
@media screen and (min-width: 769px) {
    .section___title {
        font-size: 3.6rem;
    }

    .pcBr {
        display: block;
    }

    .CTA {
        width: 343px;
    }
}

/* pc 769px */

/* =========================
header
========================= */
.header__inner {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: var(--white);
    z-index: 100;
}

.header__title img,
.nav__title img {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
}

.menu__btn,
.close__btn {
    width: 64px;
    height: 64px;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__btn img {
    width: 30px;
    height: 20px;
}

.header__btn {
    display: none;
}

/* nav 初期表示 */
.nav {
    background: rgba(179, 216, 168, 0.97);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translateX(-100%);
    transition: 0.4s;
}

/* nav 表示 */
.active {
    transform: translate(0);
}


.nav__top {
    display: flex;
    justify-content: space-between;
}

.close__btn img {
    width: 25px;
    height: 25px;
}

.nav__list {
    max-width: 222px;
    margin: 0 auto;
}

.nav__item {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 64px;
    text-align: left;
    letter-spacing: 0.05em;
}

.nav__item:first-of-type {
    margin-top: 84px;
}

.nav__btn a {
    margin: 64px auto 0;
}

/* header pc */
@media screen and (min-width: 769px) {

    .header {
        max-width: 1440px;
        margin: 20px auto;
    }

    .header__top {
        margin: 0 4.2%;
    }

    .header__inner {
        position: static;
        width: 100%;
        height: auto;
        z-index: auto;
    }

    .header__title img {
        width: 300px;
        height: 90px;
    }

    .menu__btn,
    .close__btn {
        display: none;
    }

    .header__btn {
        display: block;
    }

    .nav {
        background: transparent;
        width: auto;
        height: auto;
        position: static;
        z-index: auto;
        transform: translate(0);
    }

    .nav__top {
        display: none;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: none;
        gap: 60px;
    }

    .nav__item {
        font-size: 1.4rem;
        margin-top: 20px;
        text-align: center;
    }

    .nav__item:first-of-type {
        margin-top: 20px;
    }

    .nav__btn {
        display: none;
    }
}

/* pc 769px */

/* =========================
article header
========================= */
.FV {
    position: relative;
    width: 100%;
}

.FV__sp {
    display: block;
    width: 100%;
    margin-top: 64px;
}

.FV__pc {
    display: none;
}

.FV__CTA--sp {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.FV__CTA--pc {
    display: none;
}

.main__txt {
    color: #000;
    font-size: 1.4rem;
    letter-spacing: 0.07em;
    line-height: 2.3;
    background-color: var(--green2);
    padding: 40px 8%;
    text-align: left;
    margin-top: 44px;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .FV {
        max-width: 1440px;
        margin: 0 auto;
    }

    .FV__sp {
        display: none;
    }

    .FV__pc {
        display: block;
        width: 100%;
        margin: 20px auto 0;
        max-width: 1440px;
    }

    .FV__CTA--sp {
        display: none;
    }

    .FV__CTA--pc {
        display: block;
        position: absolute;
        bottom: 30px;
        left: 5.2%;
        width: 38.8%;
        max-width: 560px;
    }

    .FV__btn a {
        padding: 6.7% 25px 6.7% 0;
    }

    .main__txt {
        font-size: 2.0rem;
        text-align: center;
        margin-top: 84px;
    }
}

/* pc 769px */

/* =========================
feature
========================= */
.feature {
    padding: 64px 4.2%;
}

.feature__item {
    margin: 40px auto 0;
}

.feature__item:first-of-type {
    margin-top: 0;
}

.feature__wrapper {
    position: relative;
    padding: 40px 6.2% 0;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
}

.feature__img {
    display: block;
    margin: 0 0 0 auto;
    border-radius: 50%;
    width: 83%;
    height: auto;
}

.feature__title {
    position: absolute;
    top: 153px;
    color: #000;
    text-shadow: 2px 2px 2px #FFF;
    font-size: 2.0rem;
    font-weight: 700;
}

.feature__txt {
    font-size: 1.4rem;
    margin: 15px 6.2% 20px;
}

/* feature pc */
@media screen and (min-width: 769px) {
    .feature {
        padding: 84px 0;
        max-width: 1160px;
        margin: 0 auto;
    }

    .feature__list {
        display: flex;
    }

    .feature__item {
        width: 343px;
    }

    .feature__item {
        margin-top: 0;
    }
}

/* pc 769px */

/* =========================
lesson
========================= */
.lesson {
    background-color: var(--green2);
    padding: 64px 4.2% 84px;
}

.lesson__list {
    margin: 0 auto;
}

.lesson__item {
    margin-top: 64px;
}

.lesson__item:first-of-type {
    margin-top: 0;
}

.lesson__img {
    border-radius: 10px 10px 0 0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.lesson__content {
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
    padding: 28px 10.7% 22px;
}

.lesson__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}

.lesson__txt {
    font-size: 1.4rem;
    text-align: left;
    margin-top: 9px;
}

/* lesson pc */
@media screen and (min-width: 769px) {
    .lesson {
        padding: 84px 4.2% 112px;
    }

    .lesson__list {
        display: flex;
        max-width: 1160px;
        gap: 40px;
        justify-content: center;
    }

    .lesson__item {
        width: 343px;
        margin-top: 0;
    }
}

/* pc 769px */

/* =========================
price
========================= */
.price {
    padding: 64px 4.2% 84px;
}

.price__item {
    margin: 61px auto 0;
    border: 3px solid var(--green);
    background-color: var(--white2);
    border-radius: 10px;
    padding-bottom: 27px;
}

.price__item01 {
    margin-top: 13px;
}

.price__title {
    color: #FFF;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--green);
    border-radius: 50px;
    width: 200px;
    height: 50px;
    transform: translateY(-50%);
}

.price__txt {
    text-align: center;
    font-size: 1.4rem;
}

.price__CTA {
    margin: 24px auto 0;
    width: 96%;
}

.price__value {
    font-family: "Noto Sans JP";
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 13px;
}

.amount {
    font-size: 4.0rem;
}

.tax {
    font-size: 1.5rem;
}

@media screen and (min-width: 769px) {
    .price {
        padding: 84px 4.2% 112px;
    }

    .price__list {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }

    .price__item {
        margin: 13px 0 0 0;
        width: 343px;
    }

    .price__group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

/* =========================
instructor
========================= */
.instructor {
    padding: 64px 4.2% 84px;
    background-color: var(--green2);
}

.instructor__content {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px 20px 38px;
}

.instructor__imgBox {
    position: relative;
    width: 80vw;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

.instructor__imgBox::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    border: 2px solid var(--green2);
    border-radius: 50%;
}

.instructor__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.instructor__description {
    padding: 0 13.1%;
}

.instructor__name {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
}

.instructor__list {
    margin-top: 20px;
}

.instructor__item {
    font-size: 1.4rem;
}

.instructor__txt {
    font-size: 1.4rem;
    margin-top: 20px;
}

/* instructor pc */
@media screen and (min-width: 769px) {
    .instructor {
        padding: 84px 4.2% 112px;
    }

    .instructor__content {
        padding: 52px 100px;
        max-width: 840px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .instructor__imgBox {
        max-width: 300px;
        margin: 0;
    }

    .instructor__description {
        padding: 0;
        max-width: 224px;
    }

    .instructor__name {
        font-size: 2.4rem;
    }

    .instructor__list {
        margin-top: 48px;
    }

    .instructor__txt {
        margin-top: 30px;
    }

}

/* pc 769px */

/* =========================
information
========================= */
.information {
    padding: 64px 0 48px;
}

.information__item--title {
    background-color: var(--green);
    height: 40px;
    display: flex;
    align-items: center;
}

.hours__title,
.address__title {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 4.2%;
}

.hours__list {
    padding: 24px 4.2%;
}

.hours__item {
    font-size: 1.4rem;
    text-align: left;
}

.hours__item:last-of-type {
    margin-top: 21px;
}

.lastLesson {
    font-size: 1.2rem;
}

.address {
    margin-top: 24px;
    margin-left: 4.2%;
    font-size: 1.4rem;
    text-align: left;
}

.map {
    width: 100%;
    height: 400px;
    margin-top: 24px;
}

@media screen and (min-width: 769px) {
    .information {
        padding: 84px 0 112px;
        margin: 0 auto;
        max-width: 1160px;
    }

    .hours__title,
    .address__title {
        font-size: 2.4rem;
        margin-left: auto;
        margin: 0 auto;
    }

    .hours__list {
        padding: 32px 0;
        margin: 0 auto;
        max-width: 359px;
    }

    .hours__item {
        font-size: 1.6rem;
    }

    .lastLesson {
        font-size: 1.4rem;
    }

    .address {
        margin-top: 32px;
        margin-left: 0;
        font-size: 1.6rem;
        text-align: center;
    }

    .map {
        margin-top: 32px;
        max-width: 1160px;
    }
}

/* =========================
sign up
========================= */

.signUp__title {
    text-align: center;
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 1.3;
}

.article__footer--CTA {
    margin: 48px auto 0;
}

.footer__img {
    background-image: url(../images/footer_img-sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 48px;
}

@media screen and (min-width: 769px) {
    .article__footer {
        position: relative;
        max-width: 1440px;
        height: 432px;
        display: flex;
        justify-content: center;
        margin: 0 auto 84px;
    }

    .signUp {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 20px;
        margin-right: 9.7%;
    }

    .article__footer--CTA {
        margin-top: 40px;
    }

    .footer__img {
        background-image: url(../images/footer_img-pc.jpg);
        background-position: center;
        min-height: 400px;
        width: 100%;
        margin-top: 0;
        max-width: 1160px;
    }
}

/* =========================
footer
========================= */
.footer {
    background-color: var(--green);
    padding: 20px 0 30px;
}

.footer__title img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.footer__btn {
    display: none;
}

.footer__nav--list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__nav--item {
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
}

.footer__nav--btn {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.sns {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
}

.sns__item {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px solid var(--white);
    width: 91.5%;
    height: 1px;
    display: block;
    margin: 42px auto 0;
}

.copy {
    margin-top: 20px;
    color: var(--white);
    font-family: "Noto Sans JP";
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
}

/* footer pc */
@media screen and (min-width: 769px) {
    .footer {
        padding: 0 9.7%;
    }

    .footer__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1160px;
        padding-top: 20px;
    }

    .footer__title img {
        width: 300px;
        display: block;
    }

    .footer__btn {
        display: block;
    }

    .footer__nav--list {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
    }

    .footer__nav--btn {
        display: none;
    }

    .sns {
        display: flex;
        gap: 24px;
        margin: 40px auto 0;
        justify-content: left;
        align-items: center;
        max-width: 1160px;
    }

    .border {
        border: 1px solid var(--white);
        width: 100%;
        height: 1px;
        display: block;
        max-width: 1160px;
        margin: 20px auto 0;
    }

    .copy {
        margin: 20px auto 0;
        text-align: left;
        max-width: 1160px;
        padding-bottom: 30px;
    }
}

/* pc 769px */
